#content {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #content {
    width: 668px;
  }
}
@media screen and (min-width: 1024px) {
  #content {
    width: 1024px;
  }
}

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: normal;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #f2f2f2;
}

.section-title {
  width: 100%;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  line-height: 28.13px;
}

.section-title2, .section-title3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
  box-sizing: border-box;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.lapalette {
  width: 100%;
}

.logopages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

ul {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
}

.logo_footer {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 20px;
  margin-top: 0;
  width: 139px;
  -webkit-filter: invert(100%);
}

footer {
  background: rgb(53, 53, 53);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  position: relative;
}

.footer-container {
  width: 100%;
}

.footer_restaurants {
  background: rgb(53, 53, 53);
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 18px;
  position: relative;
  width: 100%;
  top: -70px;
}

.footer-title {
  color: #f2f2f2;
  background-color: #353535;
}

.fa-utensils, .fa-handshake-simple, .logofooter-txt {
  color: #FFFFFF;
  height: 13px;
}

.logofooter-txt, .logofooter-txt2 {
  margin-left: 10px;
}

.rotate {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

#logo {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 197px;
  padding-left: 75px;
}

.sub-title {
  text-align: center;
  font-weight: 300;
  width: 90%;
  font-size: 16px;
  padding-left: 10px;
  line-height: 21px;
  letter-spacing: 0em;
  padding-bottom: 10px;
}

nav {
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 767.99px;
  box-sizing: border-box;
  height: 1600px;
}

.explorer {
  width: 100%;
  padding-bottom: 30px;
  background-color: #F2F4F4;
  padding-top: 20px;
}

.etape {
  padding-left: 15px;
}

.fonctionnement {
  padding-top: 30px;
  padding-bottom: 50px;
}

.menus {
  background-color: #F2F4F4;
  padding-top: 30px;
  padding-bottom: 50px;
}

.section-title3 {
  padding-left: 5px;
}

.carte img {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: end;
  flex-direction: column;
  border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-restaurant {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}

.img-enchantee {
  width: 100%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-enchantee-accueil {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-txt {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 70%;
  color: rgb(0, 135, 102);
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background: rgb(153, 226, 208);
  padding: 5px 10px;
}

.carte {
  width: 100%;
}

.cartes {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.carte-txt {
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  padding-bottom: 10px;
}

.carte-title {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.carte-subtitle {
  margin-top: 0;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

b {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.links {
  list-style: none;
  padding-bottom: 10px;
  width: 100%;
  text-align: start;
  padding-left: 20px;
  width: 80%;
}

.lacarte {
  background: rgb(246, 246, 246);
  border-radius: 25px 25px 0px 0px;
  -webkit-border-radius: 25px 25px 0px 0px;
  -moz-border-radius: 25px 25px 0px 0px;
  -ms-border-radius: 25px 25px 0px 0px;
  -o-border-radius: 25px 25px 0px 0px;
  position: relative;
  width: 100%;
  bottom: 30px;
  z-index: 1;
  padding-bottom: 30px;
  margin: 0;
  top: -70px;
}

.lapalette, .enchantee {
  position: relative;
  width: 100%;
}

.enchantee {
  width: 100%;
}

.titre_lacarte_coeur {
  position: relative;
  width: 95%;
  padding-left: 15px;
}

.titre_lacarte {
  font-family: "Shrikhand";
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  position: relative;
  padding-right: 0;
  width: 100%;
}

ul {
  text-decoration: none;
  padding: 0;
  list-style-type: none;
}

.menu {
  width: 97%;
  height: 72px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.1rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.article {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.plats {
  width: 100%;
  height: 69px;
  background: rgb(255, 255, 255);
  border-radius: 15.04px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: end;
  overflow: hidden;
}

.menu:hover .plats .validation {
  width: 80px;
  position: relative;
  align-items: flex-start;
}

.menu-txt {
  height: 75px;
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix-txt {
  width: 30px;
  position: relative;
  top: 24px;
  left: -2px;
  font-weight: 700;
  font-size: 0.85em;
}

.accompagnement {
  position: relative;
  bottom: 15px;
  font-weight: 500;
  font-size: 0.85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.accompagnement-madagascar {
  position: relative;
  bottom: 15px;
  font-weight: 500;
  font-size: 0.86rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 70px;
}

.titre_menus {
  position: relative;
  bottom: 5px;
  font-weight: 700;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.titre_menus_madagascar {
  position: relative;
  bottom: 5px;
  font-weight: 700;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 45px;
}

.check {
  width: 60px;
  background-color: rgb(153, 226, 208);
  position: relative;
  height: 40px;
  padding: 15px 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  overflow: hidden;
  margin-left: 10px;
}

.validation {
  width: 0px;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  transform: translateX(1px);
  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  -ms-transform: translateX(1px);
  -o-transform: translateX(1px);
}

.validation:hover {
  transform: translateX(0);
  transition-duration: all 5s ease;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}

.entrees, .plates, .desserts {
  gap: 5px;
  margin-left: 5px;
}

.subtitle_lacarte {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 3px solid rgb(153, 226, 208);
  width: 10%;
  height: 23px;
  padding-top: 10px;
}

.commander {
  padding-top: 15px;
  padding-bottom: 15px;
}

.carte {
  display: flex;
  flex-direction: column;
  height: 220px;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

::-moz-placeholder {
  color: var(--Black, #000);
  text-align: left;
  width: 100%;
  padding-left: 5px;
}

::placeholder {
  color: var(--Black, #000);
  text-align: left;
  width: 100%;
  padding-left: 5px;
}

.searchbutton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DA);
  color: var(--White, #fff);
  font-weight: 500;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  width: 218px;
  height: 50px;
  align-items: center;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  border: none;
  transition: background-color 250ms;
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
  -ms-transition: background-color 250ms;
  -o-transition: background-color 250ms;
}

.searchbutton a:hover {
  transition-property: all 2s;
  box-shadow: outset 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  opacity: 0.8;
  background-color: brightness(2);
}

.searchbutton a {
  color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.fa-location-dot {
  display: flex;
  width: 10%;
  justify-content: center;
  color: black;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
}

abbr {
  border: none;
}

.fa-mobile-screen-button, .fa-list, .fa-store {
  height: 72.38px;
  display: flex;
  text-align: left;
  padding-left: 30px;
  align-items: center;
  border-radius: 20px;
  color: #7E7E7E;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 78%;
  margin-left: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin-bottom: 15px;
  z-index: 1;
}

.fa-store {
  color: #9356DC;
}

.icone-txt {
  color: black;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.ellipse {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.numero {
  position: absolute;
  margin: 2px;
  padding-left: 5px;
}

.fa-heart, .empty, .gris {
  position: absolute;
  top: 18%;
  left: 85%;
  color: #FFFFFF;
  background-color: #FFFFFF;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  font-size: 1.5em;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: direction;
  position: absolute;
}

.gris {
  background-color: rgb(246, 246, 246);
  padding-top: 10px;
  left: 260px;
}

.fa-heart::before {
  font-weight: bold;
  transition: opacity 1.5s ease;
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -ms-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  vertical-align: baseline;
}

.fa-heart:hover::before {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0px;
}

.fa-left-long {
  color: black;
  margin-left: 20px;
  font-size: 25px;
}

.fa-utensils, .fa-handshake-simple {
  font-size: 12px;
}

.fa-check-circle {
  position: relative;
  right: 5px;
  margin-left: 10px;
  border-radius: 15px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  display: flex;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.fa-handshake-simple {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(234, 234, 234);
  background-image: linear-gradient(#9356DA, #FF79DA);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.content {
  padding: 20px;
}

.loader-container.loaded {
  opacity: 0;
  pointer-events: none;
}

.content {
  padding: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loader.loaded {
  display: none;
}

#content.loaded {
  display: block;
}

#loader.loaded + #content {
  display: block;
}

.loader-container {
  animation: fadeOut 3s forwards;
}

input {
  border: none;
  justify-content: center;
  background-color: #EAEAEA;
}/*# sourceMappingURL=main.css.map */