::placeholder {
    color: var(--Black, #000);
    text-align: center;
    width: 100%;
  }
  
  .searchbutton {
    display: flex;
    align-items: center;
    border: 1px var(--#9356DC);
    border-radius: 0px 15px 15px 0px;
    background: var(--Blue,#9356DC);
    color: var(--White, #fff);
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
 
  
  