::placeholder {
    color: var(--Black, #000);
    text-align: left;
    width: 100%;
    padding-left: 5px;
  }
  
.searchbutton {
    display:block;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    background:linear-gradient(#FF79DA, #9356DA);
    color: var(--White, #fff);
    font-weight: 500;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 4px 10px 0px #00000040;
    width: 60%;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 0em;
    border: none;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.searchbutton:hover {
    border-image-outset: 0px 4px 10px 0px;
    opacity: 0.8;
    background-color: lighten(#9356dc, 5%);
    background-blend-mode: lighten;
    box-shadow: 0px 4px 10px 0px #00000040;
    z-index: 2;   
}


.searchbutton a {
    color: #fff;
    width: 78%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
   
  }

   //Media query > Tablette//
@media (min-width: 768px) and (max-width: 1024px){
  .searchbutton {
    width: 25%;
    justify-content: center;
    margin: auto;
  }
} 

 //Media query Desktop 1024px//
 @media (min-width: 1023.98px) and (max-width: 1440px) {

  .searchbutton {
    width: 20%;
    justify-content: center;
    margin: auto;
  }

 }

//Media query Desktop > 1024px//
@media (min-width: 1440px) and (max-width: 2000px){
  .searchbutton {
    width: 15%;
    justify-content: center;
    margin: auto;
  }
}

 
  
  