.fa-location-dot {
    display: flex;
    width: 15%;
    background-color: var(--grey, #f2f2f2);
    justify-content: center;
    color: black;
    align-items: center;
    border: 1px #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
    padding: 20px;
    font-size: 18px;
  }
  abbr {
    border: none;
  }
 
  
  
  
  