//Animation pour le loader//

@keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadeOut {
0% { opacity: 1; z-index: 1;}
75% { opacity: 1;z-index: 2; }
100% { opacity: 0; z-index: 0;}
}

@keyframes rideau {
  0% {
    z-index: 3;
  }
  50% {
    transform: translateY(-10vh);
    -webkit-transform: translateY(-10vh);
    -moz-transform: translateY(-10vh);
    -ms-transform: translateY(-10vh);
    -o-transform: translateY(-10vh);
    z-index: 3;
}
100% {
  transform: translateY(-100vh);
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
}
}

//Animation pour le coeur//

@keyframes remplissage {
  bottom {
    opacity: 0;
  }
  top {
    opacity: 1;
  }
}

//Animation pour le check//

@keyframes transleteX {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transition: all 10s;
        animation-timing-function: linear;
        -webkit-transition: all 10s;
        -moz-transition: all 10s;
        -ms-transition: all 10s;
        -o-transition: all 10s;
}
    50% {
      transform: translateX(240px);
      -webkit-transform: translateX(240px);
      -moz-transform: translateX(240px);
      -ms-transform: translateX(240px);
      -o-transform: translateX(240px);
      transition: all 10s;
        animation-timing-function: linear;
        -webkit-transition: all 10s;
        -moz-transition: all 10s;
        -ms-transition: all 10s;
        -o-transition: all 10s;
      }
    100% {
      transform: translateX(349px);
      -webkit-transform: translateX(349px);
      -moz-transform: translateX(349px);
      -ms-transform: translateX(349px);
      -o-transform: translateX(349px);
      transition: all 10s;
      animation-timing-function: linear;
      -webkit-transition: all 10s;
      -moz-transition: all 10s;
      -ms-transition: all 10s;
      -o-transition: all 10s;
    }
  }

//Animation pour apparition des menus//

@keyframes decalage {
  from {
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
    margin-top: 3rem;
    opacity: 0;
  }
to {
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  margin-top: 0rem;
  opacity: 1;
  }
}


//Animation pour les boutons//

@keyframes opacity {
0% {
  opacity: 0;
  }
100% {
  opacity: 1;
  }
}
        
//Animation pour les menus//

@keyframes retract {
0% {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  right: 0%;
  left: 0%;
  }
100% {
  transform:scaleX(1) ;
  -webkit-transform:scaleX(1) ;
  -moz-transform:scaleX(1) ;
  -ms-transform:scaleX(1) ;
  -o-transform:scaleX(1) ;
  right: 100%;
  left: 0%;
  }
}



