@keyframes transleteX {
    
  
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        
}
    50% {
      transform: translateX(250px);
      -webkit-transform: translateX(250px);
      -moz-transform: translateX(250px);
      -ms-transform: translateX(250px);
      -o-transform: translateX(250px);
}
    100% {
        transform: translateX(349px);
        -webkit-transform: translateX(349px);
        -moz-transform: translateX(349px);
        -ms-transform: translateX(349px);
        -o-transform: translateX(349px);
        width: 349px;
}
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
      }
    
      to {
        margin-right: 0%;
        width: 100%;
      }
    }

@keyframes largeur {
      from {
          
          width: 349px;
        }
      
        to {
          
          width: 349px;
        }
      }
        

@keyframes aller {
    0% {
          
        width: 349px;
      }
      25% {
       
        width: 300px;
      }
      50% {
        
        width: 240px;
      }
      75% {
          
        width: 300px;
        }
      100% {
          
        width: 349px;
        }
      }

