.logo_footer {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    color: rgba(255, 255, 255, 1);
}

.footer-title {
    color: #f2f2f2;
    background-color: #353535;
}
  
.fa-utensils, .fa-handshake-simple, .logofooter-txt {
    color:#FFFFFF; 
    height: 13px;
}

.logofooter-txt {
    margin-left: 10px;
}
    