.logo_footer {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    color: rgba(255, 255, 255, 1);
    margin-top: 0;
    width: 95%;
}

footer {
    background: rgba(53, 53, 53, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px; 
    position: relative;
   
  }

.footer-container {
    width: 100%;
}

.footer_restaurants {
   
    background: rgba(53, 53, 53, 1);
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px; 
    position: relative;
    width: 95%;
    top:-70px;
   
}

   



.footer-title {
    color: #f2f2f2;
    background-color: #353535;
}
  
.fa-utensils, .fa-handshake-simple, .logofooter-txt {
    color:#FFFFFF; 
    height: 13px;
}

.logofooter-txt, .logofooter-txt2 {
    margin-left: 10px;
}

.rotate {
    display: flex;
    justify-content:flex-start;
    margin-left: 0;
}
