#logo {
    display: flex;
    text-align: center;
    justify-content:center;   
    flex-direction:column;
    align-items:center;
    width: 50%; 
    margin:auto;
    padding: 20px;     
  }  

.sub-title {
    text-align: center;
    font-weight: 300;
    width:90% ;
    font-size: 16px;
    padding-left: 10px;
    line-height: 21px;
    letter-spacing: 0em;
    padding-bottom: 10px;
    margin: auto;
  }


   //Media query Tablette//
@media (min-width: 767.98px) and (max-width: 1023.98px) {

  #logo {
    width: 28%;
  }

  .sub-title {
    width: 60%;
    font-size: 14px;
    font-weight: 300;
  } 
}

//Media query Desktop 1024//
@media (min-width: 1023.98px) and (max-width: 1439.98px) {
  
  #logo {
    width: 25%;
  }

  .sub-title {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
  }

  .section-title {
    font-size: 1.9em;
  }
}

  //Media query Desktop > 1024//
@media (min-width: 1439.98px) and (max-width: 2000px) {
  
  #logo {
    width: 20%;
  }

  .sub-title {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
  }

  .section-title {
    font-size: 1.9em;
  }
}

  

