  #logo {
    display: flex;
    text-align: center;
    justify-content:center;
    padding: 20px 0px;
    flex-direction:column;
    align-items:center;
    width: 100%;
    padding-left: 50px;         
  }  


  .sub-title {
    text-align: center;
    font-weight: 300;
    width:100% ;
    font-size: 16px;
    padding-left: 10px;
    line-height: 21px;
    letter-spacing: 0em;
    padding-bottom: 10px;
  }

 

  

