body {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    
  }
  
nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .main-container {
    width: 100%;
    max-width: 767.99px;
    box-sizing: border-box;
    height: 1600px;
  }

  .explorer{
    width: 100%;
    padding-bottom: 30px;
    background-color: #F2F4F4;
    padding-top: 20px;
  }

  .etape {
    padding-left : 15px;
  }

  .fonctionnement {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .menus {
    background-color: #F2F4F4;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .section-title3{
    padding-left: 5px;
  }
  
  .carte img {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: end;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
    object-fit: cover;   
  }

  .img-restaurant {
    width: 100%;
    object-fit:cover; 
  }
  
  .image-txt {
      position: absolute;
      z-index: 1;
      top: 10%;
      left: 70%;
      color:rgba(0, 135, 102, 1);
      font-size: 20px;
      font-weight: bold;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      background: rgba(153, 226, 208, 1);
      padding: 5px 10px;
  }

  .carte {
    width: 100%;
  }
  
  .cartes {
    display: flex;
    flex-direction: column;
    gap: 18px;   
  }
  
  .carte-txt {
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    padding-bottom: 10px;
  }

  .carte-title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left; 
     
  }

  .carte-subtitle {
    margin-top: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left; 
    
  }

  b {    
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
  }
  
  .links {
    list-style : none;
    padding-bottom : 10px;
    width : 100%; 
    text-align : start;
    padding-left: 20px; 
    width: 80%;
  }

  
  .lacarte {
    background: rgba(246, 246, 246, 1);
    border-radius:25px 25px 0px 0px ;
    -webkit-border-radius:25px 25px 0px 0px ;
    -moz-border-radius:25px 25px 0px 0px ;
    -ms-border-radius:25px 25px 0px 0px ;
    -o-border-radius:25px 25px 0px 0px ;
    padding-left: 20px;
    position: relative;
    width:100%;
    bottom: 30px;    
    z-index: 1;
    padding-bottom: 30px;
    margin: 0;
    left: -5px;
    top: -70px;
   
  }

  .lapalette, .enchantee {
    position: relative;
    width: 100%; 
  }

  .enchantee {
    width: 100%; 
  }

  .titre_lacarte_coeur {
    position: relative;
    width: 95%;
  }

  .titre_lacarte {
    font-family: "Shrikhand";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    position: relative;
    padding-right: 0; 
    width: 100%;
    padding-top: 20px;  
  }

  .entrees, .plats, .desserts {
    gap: 12px; 
  }

  .subtitle_lacarte {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 3px solid rgba(153, 226, 208, 1);
    width: 10%;
    height: 23px;
    padding-top: 10px;     
  }
  
  .menu {
    width: 349px;
    height: 72px;
    padding: 15px;
    gap: 5px;
     
  }

  .menu :hover {
    overflow: hidden;
  }

  .menuetprix {
    max-width: 349px;
    height: 69px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15.04px;
    -webkit-border-radius: 15.04px;
    -moz-border-radius: 15.04px;
    -ms-border-radius: 15.04px;
    -o-border-radius: 15.04px;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    animation-name: slidein;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
  }

  .menuetprix :hover {
    width: 210px;
    overflow: hidden;
    transform: translateX(0px); 
  }

  .check   {
    width: 60px;
    background-color:rgba(153, 226, 208, 1);
    position: relative;    
    padding: 15px;
    right: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    overflow:hidden;    
    transform: translateX(60px);
    transition: transform 2s;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px); 
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
  }

  .check :hover  {
    width: 60px;
    background-color:rgba(153, 226, 208, 1);    
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    overflow:hidden;  
  }

  .prix {
  width: 27px;
  height: 18px;
  margin-right: 2px; 
  padding-top: 27px;
  position: relative;
  right: 40px;  
  display: flex;
  text-align:start;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transition: transform 2s;
  animation-name: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 
  }

  .prix :hover {
    width: 27px;
    height: 18px;
    margin-right: 2px;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    padding-top: 27px;       
    display: flex;
    text-align: end;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transition: transform 2s;
    
  }
  
  .menu-txt {
	  max-width: 287px;	 
	  padding-left: 10px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap; 
   
  }

  .titre_menus { 
    width: 287px;  
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    color: black; 
    padding-top: 5px;
    margin: 0;
    @include line-clamp(2, 0.8em); 
  }

  .subtitle_menus {
    width: 287px;  
    font-size: 15.04px;
    font-weight: 300;
    line-height: 17.63px;
    color: rgba(0, 0, 0, 1);
    @include line-clamp(3, 0.8em); 
  }

  .prix-txt {    
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }


  .commander {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .carte {
    display: flex;
    flex-direction: column;
    height: 220px;
    background-color: white;
    border-radius: 20px;
    -webkit-filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }

