body {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  
 

  

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .explorer{
    width: 100%;
    padding-bottom: 30px;
    background-color: #F2F4F4;
    padding-top: 20px;
  }

  .etape {
    padding-left : 15px;
  }

  .fonctionnement {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .menus {
    background-color:#F2F4F4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
   
  }
  
  .carte img {
    display: flex;       
    justify-content: end;
    flex-direction: column;    
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
    object-fit: cover;
   
  }

  

  

  
  

  .cartes {
    display: flex;
    flex-direction: column;
    gap: 18px;
   
  }

  
  .carte-txt {
    padding-left: 10px; 
    
    height: 500px;
   
   
    
  }


  .carte-title {
    
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
  }

  .carte-subtitle {
    margin: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
  }

  footer {
    background-color: #353535;
    font-size: 18px;     
  }

  b {    
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    
  }
  
  .links {
    list-style : none;
   padding-bottom : 10px;
   width : 100%; 
   text-align : start;
   padding-left: 20px; 
   width: 80%;
  }

  
  